.container {
  display: grid;
  place-self: stretch;
  position: relative;
}

.container > svg {
  place-self: center;
  position: absolute;
  fill: pink;
  width: 20px;
  height: unset;
  left: 14px;
}

.input {
  padding: 0.5em;
  font-size: 18px;
  line-height: 1;
  background: linear-gradient(rgba(54, 4, 66, 0.041), rgba(54, 4, 66, 0.041)), url(/src/assets/images/opaque_flower.svg) 0 100% repeat-x;
  background-repeat: repeat-x;
  width:177px;
  border: none;
  padding: 12px 14px;
  padding-left: 40px;
  outline: none;
  color: pink;
  border-radius: 100vmax;
}

.input::placeholder {
  position: relative;
  color: lightblue;
}
