@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Kalam:wght@300;400;700&family=Pacifico&family=Varela+Round&display=swap');

@font-face {
  font-family: 'SpringTime';
  src: local('SpringtimeFlowers'), url(/src/assets/fonts/SpringtimeFlowers.ttf) format('truetype');
};


html { font-size: clamp(12px, calc(100vw * 0.0105),16px); }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  margin: 0;
  display: grid;
  overflow: auto;
}

* {
  font-family: 'Itim';
}
