.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.result {
    display: grid;
    place-items: center;
}

.result > img {
  height: 100px;
  width: 100px;
}

.result > p {
  font-size: 0.9rem;
  text-align: center;
}
