.password-container {
  display: grid;
  place-self: stretch;
  position: relative;
}

.password-container > svg {
  place-self: center;
  position: absolute;
  fill: pink;
  width: 19px;
  height: unset;
  left: 14px;
  top: 25%;
}

.password-container > input {
  padding: 0.5em;
  font-size: 18px;
  background: linear-gradient(rgba(54, 4, 66, 0.041), rgba(54, 4, 66, 0.041)), url(/src/assets/images/opaque_flower.svg);
  background-repeat: repeat-x;
  line-height: 1;
  width:177px;
  border: none;
  padding: 12px 14px;
  padding-left: 40px;
  outline: none;
  color: pink;
  border-radius: 100vmax;
}

.password-container > input::placeholder {
  position: relative;
  color: lightblue;
}

.password-toggler {
  position: absolute;
  bottom: 50%;
  right: 0;
  font-size: 0;
  transform: translate(-97%, 50%);
  cursor: pointer;
}

.password-toggler path {
  fill: lightblue;
  
}
.password-toggler:hover path {
  fill: pink;
}

.password-toggler:hover {
  opacity: 0.4;
}
