.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  height: 300px;
}

.color-square {
  border: 1px solid transparent;
  margin: 0.2rem;
  cursor: pointer;
}

.selected {
  border: 2px solid;
}
