.container {
  border-radius: 15px;
  position: relative;
  display: grid;
  padding: 1rem;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
  border-style: inset;
  border-color: rgb(54, 43, 43);
  border-width: 4px;
}
.inner-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
}
.container > div {
  text-align: center;
  text-decoration: underline;
}
.inner-container > * {
  border-radius: 7px;
  border: none;
}
.cost {
  text-align: center;
  display: grid;
  place-items: center;
}
.cost > h4 {
  margin: 0;
}
.coin {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  background: url(/src/assets/images/flower_coin.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.inner-container input {
  grid-column: span 2;
  padding: 0.2rem 0.4rem;
  font-size: 1.1rem;
  border-style: inset;
}
.submit {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border-style: ridge;
  border-color: rgb(54, 43, 43);
  border-width: 6px;
}
.submit:hover {
  background-color: rgba(0, 128, 0, 0.397);
  border-color: green;
}
.submit:active {
  background-color: rgba(5, 204, 5, 0.74);
}
.submit:disabled {
  background-color: rgb(65, 65, 65);
  cursor: unset;
}
