.outer-container {
  display: grid;
  place-items: center;
  background: url(/src/assets/backgrounds/garden_box.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inner-container {
  display: grid;
  margin: 2.5rem;
  z-index: 1;
  padding: 2.5rem;
  border-radius: 15px;
  border: 2px solid;
}
