.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.result {
    display: grid;
    place-items: center;
}

.plant-image {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.result > p {
  font-size: 0.9rem;
  text-align: center;
}
